/**
 *
 * GLOBAL
 *
 */

.container {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}

.row {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    clear: both;
    display: table;
}

[class*="col"] {
    border: 1px solid black;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}

.col12 {
    width: 100%;
}

.col9 {
    width: 75%;
}

.col6 {
    width: 50%;
}

.col3 {
    width: 33.33333333%;
}

.col4 {
    width: 25%;
}

.col8 {
    width: 12.5%;
}


/**
 *
 * LARGE SCREENS
 *
 */

/*BOOSTRAP BREAKPOINT*/
@media(min-width:1200px) {
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-3 {
        width: 33.33333333%;
    }
    .col-lg-4 {
        width: 25%;
    }
    .col-lg-8 {
        width: 12.5%;
    }
}


/**
 *
 * MEDIUM SCREENS
 *
 */

@media(max-width:1200px) and (min-width:992px) {
    .col-md-12 {
        width: 100%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-3 {
        width: 33.33333333%;
    }
    .col-md-4 {
        width: 25%;
    }
    .col-md-8 {
        width: 12.5%;
    }
}


/**
 *
 * Small SCREENS
 *
 */

@media(max-width:992px) and (min-width:767px) {
    .col-s-12 {
        width: 100%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-3 {
        width: 33.33333333%;
    }
    .col-s-4 {
        width: 25%;
    }
    .col-s-8 {
        width: 12.5%;
    }
}


/**
 *
 * XSm SCREENS
 *
 */

@media(max-width:767px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-3 {
        width: 33.33333333%;
    }
    .col-xs-4 {
        width: 25%;
    }
    .col-xs-8 {
        width: 12.5%;
    }
}