* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

header {
    width: 1000px;
    height: 120px;
    position: relative;
    margin: 20px auto;
}

nav {
    width: 1000px;
    height: 48px;
    position: relative;
    margin: 30px auto;
}

#chat {
    position: fixed;
    width: 250px;
    height: 48px;
    background-color: aqua;
    bottom: 0px;
    right: 20px;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}

.botones {
    float: left;
    width: 196px;
    margin: 0px 2px;
    height: 48px;
    background-color: rgb(163, 92, 0);
    text-align: center;
    line-height: 48px;
    color: white
}

a .botones:hover {
    background: rgb(202, 160, 42);
}

a .botones:active {
    background: rgb(211, 67, 0);
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

#top {
    width: 1000px;
    height: 192px;
    position: relative;
    margin: 30px auto;
    text-align: center;
}

#top ul {
    width: 1010px;
}

#top ul li {
    float: left;
    width: 331px;
    margin: 0px 1px;
    height: 192px;
}

#top ul li img {
    border-radius: 100%;
    height: 100px;
}

#top ul li p {
    font-size: 14px;
    margin: 10px;
}

section {
    width: 1000px;
    height: 453px;
    position: relative;
    margin: 30px auto;
    text-align: center;
}

aside#izq {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    margin: 0px 0px;
    height: 453px;
}

aside#izq ul li {
    padding: 10px;
    margin: 2px 10px;
    list-style-position: inside;
    list-style: square;
}

aside#izq ul li {
    text-decoration: none;
}

aside#der {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    margin: 0px 0px;
    height: 453px;
}

aside input {
    padding: 10px;
    margin: 5px;
    width: 176px;
}

aside#der input[type="text"] {
    background: url(user.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

aside#der input[type="password"] {
    background: url(pass.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 31px;
}

article {
    position: absolute;
    left: 200px;
    top: 0;
    width: 600px;
    margin: 0px 0px;
    height: 453px;
    font-family: sans-serif;
}

article h1 {
    font-size: 40px;
    margin: 20px;
}

article p img {
    float: left;
    margin-right: 20px;
}

article p {
    margin: 20px;
    text-align: justify;
    margin-right: 5px 20px;
}

aside#der {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    margin: 0px 0px;
    height: 453px;
}

aside#der h1 {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: rgb(163, 92, 0);
    margin-bottom: 5px;
}

footer {
    width: 1000px;
    height: 70px;
    position: relative;
    margin: 30px auto;
    text-align: center;
    line-height: 70px;
    background-color: rgb(163, 92, 0);
}

#icono1 {
    top: 30px;
    right: 19px;
}

#icono2 {
    top: 30px;
    right: 71px;
}

#icono3 {
    top: 30px;
    right: 120px;
}

.Redes {
    width: 42px;
    height: 42px;
    background-color: black;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    color: white
}